@import "tailwindcss";



@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
background-color: rgb(215, 215, 215);
  font-family: Arial, Helvetica, sans-serif;
}
